{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Twoje projekty</h6>
                </div>
                <div class="card-body" style="height: 350px; overflow: auto;">
                    <table class="table table-striped table-hover table-bordered text-center">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Skrót</th>
                            <th>Status</th>
                            <th>Kierownik</th>
                            <th>Czas</th>
                            <th>Działania</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.shortname }}</td>
                                <td>{{ project.status }}</td>
                                <td>{{ project.owner.fullName }}</td>
                                <td>{{ project.time }}</td>
                                <td>
                                    <a class="btn btn-secondary btn-sm" href="{{ path('project_show', { 'id': project.id}) }}">
                                        Pokaż
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Zadania przypisane tobie</h6>
                </div>
                <div class="card-body" style="height: 350px; overflow: auto;">
                    <table class="table table-striped table-hover table-bordered text-center">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Projekt</th>
                            <th>Działania</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.project.name }}</td>
                                <td>
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                    <a class="btn btn-secondary btn-sm"
                                       href="{{ path('specific_task', {'id': task.id}) }}">
                                        Pokaż
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Zadania w twoich projektach</h6>
                </div>
                <div class="card-body" style="height: 350px; overflow: auto;">
                    <table class="table table-striped table-hover table-bordered text-center">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Projekt</th>
                            <th>Czas</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                            {% for task in project.task %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.project.name }}</td>
                                    <td>
                                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                        <a class="btn btn-secondary btn-sm"
                                           href="{{ path('specific_task', {'id': task.id}) }}">
                                            Pokaż
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}