<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}WTRS {% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{{ asset('bootstrap_theme/vendor/fontawesome-free/css/all.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bootstrap_theme/css/style.css') }}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ asset('bootstrap_theme/css/sb-admin-2.css') }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <h3><strong style="color:brown;">Wtrs </strong>
                <div class="fa fa-history"></div>
            </h3>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        {#        <!-- Nav Item - Dashboard -->#}
        {#        <li class="nav-item active">#}
        {#            <a class="nav-link" href="index.html">#}
        {#                <i class="fas fa-fw fa-tachometer-alt"></i>#}
        {#                <span>Dashboard</span></a>#}
        {#        </li>#}

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Menu
        </div>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('homepage') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Tablica</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            Pracownik
        </div>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="{{ path('timer') }}">
                <i class="fas fa-fw fa-clock"></i>
                <span>Czasomierz</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('projects') }}">
                <i class="fas fa-fw fa-tasks"></i>
                <span>Projekty</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        {#        <!-- Heading -->#}
        {#        <div class="sidebar-heading">#}
        {#            Addons#}
        {#        </div>#}

        {#        <!-- Nav Item - Pages Collapse Menu -->#}
        {#        <li class="nav-item">#}
        {#            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"#}
        {#               aria-expanded="true" aria-controls="collapsePages">#}
        {#                <i class="fas fa-fw fa-folder"></i>#}
        {#                <span>Pages</span>#}
        {#            </a>#}
        {#            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">#}
        {#                <div class="bg-white py-2 collapse-inner rounded">#}
        {#                    <h6 class="collapse-header">Login Screens:</h6>#}
        {#                    <a class="collapse-item" href="login.html">Login</a>#}
        {#                    <a class="collapse-item" href="register.html">Register</a>#}
        {#                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>#}
        {#                    <div class="collapse-divider"></div>#}
        {#                    <h6 class="collapse-header">Other Pages:</h6>#}
        {#                    <a class="collapse-item" href="404.html">404 Page</a>#}
        {#                    <a class="collapse-item" href="blank.html">Blank Page</a>#}
        {#                </div>#}
        {#            </div>#}
        {#        </li>#}
        <div class="sidebar-heading">
            Firma
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('employee') }}">
                <i class="fas fa-fw fa-address-card"></i>
                <span>Pracownicy</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('urlop_calendar') }}">
                <i class="far fa-fw fa-calendar-alt"></i>
                <span>Urlopy</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('post') }}">
                <i class="fab fa-fw fa-wikipedia-w"></i>
                <span>WTRS - Wiki</span>
            </a>
        </li>
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Menagment
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsePagesForManagment"
            aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-user-cog"></i>
                <span>Manager</span>
            </a>
            <div id="collapsePagesForManagment" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="#">Projekty</a>
                    <div class="collapse-divider"></div>
                    <a class="collapse-item" href="#">Raporty</a>
                </div>
            </div>
        </li>

        <div class="sidebar-heading">
            Administrator
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapsePagesForAdministration"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-tools"></i>
                <span>Administrator</span>
            </a>
            <div id="collapsePagesForAdministration" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Użytkownicy:</h6>
                    <a class="collapse-item" href="{{ path('index') }}">Pracownicy</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">System:</h6>
                    <a class="collapse-item" href="{{ path('administration_config') }}">Konfiguracja systemu</a>
                </div>
            </div>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Contxent -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" id="navbar">
                <input type="text" class="myinput" v-model="description" placeholder="Nad czym będziesz pracować?"/>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent-4"
                        aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <span class="nav-link">
                                <i class="fas fa-box nav-color"></i>
                            </span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link nav-color timer" v-html="time">00:00:00</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link">
                                <i class="fas fa-play-circle timeButton nav-color" @click="reset"  v-if="state == 'paused'"></i>
                                <i class="fas fa-stop-circle timeButton nav-color" @click="pause" v-else></i>
                            </span>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nav-color" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{ app.user.fullName }} </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-info"
                                 aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item" href="#">My account</a>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- si Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">Logout</a>
            </div>
        </div>
    </div>
</div>
{% block javascript %}
<!-- dist -->
<script src="{{ asset('dist/js/vendors~._node_modules_a.bundle.js') }}"></script>
<script src="{{ asset('dist/js/vendors~._node_modules_p.bundle.js') }}"></script>
<script src="{{ asset('dist/js/bundle.js') }}"></script>

<script src="{{ asset('bundles/petkoparacrudgenerator/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/petkoparacrudgenerator/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/petkoparacrudgenerator/js/petkopara-crud-generator.js') }}"></script>
<!-- Bootstrap core JavaScript-->
<script src="{{ asset('bootstrap_theme/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bootstrap_theme/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Corxe plugin JavaScript-->
<script src="{{ asset('bootstrap_theme/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('bootstrap_theme/js/sb-admin-2.min.js') }}"></script>

<!-- Page level plugins -->
<script src="{{ asset('bootstrap_theme/vendor/chart.js/Chart.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ asset('bootstrap_theme/js/demo/chart-area-demo.js') }}"></script>
<script src="{{ asset('bootstrap_theme/js/demo/chart-pie-demo.js') }}"></script>
<script src="{{ asset('bootstrap_theme/js/demo/chart-bar-demo.js') }}"></script>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>

</html>