{% trans_default_domain 'FOSUserBundle' %}

<body class="bg-gradient-primary">
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register user'}}) }}
                                <div class="form-group">
                                    {{ form_widget(form.username, {'attr': {'placeholder': 'Username','class': 'form-control form-control-user'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.email, {'attr': {'placeholder': 'Email','class': 'form-control form-control-user'}}) }}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Password','class': 'form-control form-control-user'}}) }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Password','class': 'form-control form-control-user'}}) }}
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary btn-user btn-block" value="{{ 'registration.submit'|trans }}" />
                                <hr>
                            {{ form_end(form) }}
                        <div class="text-center">
                            <a class="small" href="#"><s>Forgot Password?</s></a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="#"><s>Already have an account? Login!</s></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
