{% extends '@App/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Nowy użytkownik
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h4 class="m-0 font-weight-bold float-left text-primary">Dodaj nowego użytkownika</h4>
                    <div class="form-group float-right">
                        <a class="btn btn-secondary" href="{{ path('user') }}">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            Wróć
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-sm-8">
                            {{ form_start(form) }}
                            <div class="border mt-3 p-5">
                                <h3>Dane dotyczące konta</h3>
                                {{ form_row(form.username) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.plainPassword.first) }}
                                {{ form_row(form.plainPassword.second) }}
                                {{ form_row(form.enabled) }}
                            </div>
                            <div class="border mt-3 p-5">
                                <h3>Dane o użytkowniku</h3>
                                {{ form_row(form.fullName) }}
                                {{ form_row(form.position) }}
                                {{ form_row(form.team) }}
                                {{ form_row(form.phone) }}
                                {{ form_row(form.room) }}
                                {{ form_row(form.roles) }}
                                {{ form_row(form.vacationTime) }}
                                <div class="border mt-3 p-5">
                                    {{ form_row(form.agreementTime) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr/>
                            <p>
                                <button type="submit" name="submit" value="save" class="btn btn-primary float-right">
                                    Dodaj <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                </button>
                            </p>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

