{% extends '@App/layout.html.twig' %}

{% block title %}
    {{ parent() }} - post index
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2><a href="{{ path('post') }}">Artykuły</a></h2>
            </div>
        </div>

        <div class="col-md-3 pull-left">

            <!-- PAGE SIZE -->
            <div class="pagination form-inline ">
                <select class="form-control" onchange="window.location = this.value">
                    <option value='{{ path('post', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>
                        10
                    </option>
                    <option value='{{ path('post', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>
                        20
                    </option>
                    <option value='{{ path('post', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>
                        50
                    </option>
                    <option value='{{ path('post', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>
                        100
                    </option>
                    <option value='{{ path('post', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>
                        500
                    </option>
                </select>
            </div>
            <!-- END PAGE SIZE -->

        </div>

        <div class="col-md-6">


        </div>

        <div class="col-md-3 text-right">
            <a class="btn btn-primary h3 pull-right" href="{{ path('post_new') }}" style="margin-bottom:10px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
            </a>

        </div>


        <div class="col-md-12">
            {%- if form_errors(filterForm) %}
                <div class="alert alert-block alert-error fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
        </div>

    </div> <!-- /#top -->


    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>


    <div class="row">

        <div class="table-responsive col-md-12">
            <form method="POST" id="bulk_form" action="{{ path('post_bulk_action') }} ">
                <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>

                        {% import "@PetkoparaCrudGenerator/macros/th_sortable.html.twig" as macros %}
                        <th>Tytuł</th>
                        <th>Autor</th>
                        <th width="130px">List</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.name }}</td>
                            <td>{{ post.user.fullName }}</td>
                            <td class="actions">
                                <a title='Show' class="btn btn-info btn-sm"
                                   href="{{ path('post_show', { 'id': post.id }) }}">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true">Czytaj</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>


        </div>
    </div> <!-- /#list -->

{% endblock %}

