{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold float-left text-primary">Szczegóły projektu</h6>
                    <div class=" float-right">
                        {% for role in app.user.roles %}
                            {% if role == "ROLE_ADMIN" %}
                                {% if project.status != "ZAKOŃCZONY" %}
                                    <a class="btn btn-dark btn-sm"
                                       href="{{ path('management_project_edit', {'id' : project.id} ) }}">
                                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                        Edytuj projekt
                                    </a>
                                {% endif %}
                                <a class="btn btn-secondary btn-sm"
                                   href="{{ path('project_report', { 'id': project.id }) }}">
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                    Pobierz raport
                                </a>
                                {% if project.status != "ZAKOŃCZONY" %}
                                    <a class="btn btn-danger btn-sm"
                                       href="{{ path('management_project_finish', {'id': project.id}) }}">
                                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                        Zamknij projekt
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card-body" style="height: 370px; overflow: auto;">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>{{ project.name }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Nazwa projektu</p>
                            <p>Skrót</p>
                            <p>Status</p>
                            <p>Dział</p>
                            <p>Kierownik</p>
                            <p>Opis</p>
                        </div>
                        <div class="col-sm-6 justify-content-center">
                            <p>{{ project.name }}</p>
                            <p>{{ project.shortName }}</p>
                            <p>{{ project.status }}</p>
                            <p>{{ project.team }}</p>
                            <p>{{ project.owner.fullName }}</p>
                            <p>{{ project.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold float-left text-primary">Pracownicy w projekcie</h6>
                    <div class=" float-right">
                        {% for role in app.user.roles %}
                            {% if role == "ROLE_ADMIN" %}
                                {% if project.status != "ZAKOŃCZONY" %}
                                    <a class="btn btn-secondary btn-sm"
                                       href="{{ path('management_project_employee_list', {'id': project.id}) }}">
                                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                        Edytuj listę
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card-body" style="height: 380px; overflow: auto;">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>Imię i nazwisko</th>
                            <th>Stanowisko</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in project.user %}
                            <tr>
                                <td>{{ user.fullName }}</td>
                                <td>{{ user.position }}</td>
                                <td>{{ user.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold float-left text-primary">Aktywne zadania</h6>
                    <div class="float-right">
                        {% for role in app.user.roles %}
                            {% if role == "ROLE_ADMIN" %}
                                {% if project.status != "ZAKOŃCZONY" %}
                                    <a class="btn btn-secondary btn-sm"
                                       href="{{ path('task_new', {'id': project.id }) }}">
                                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                        Dodaj
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card-body" style="height: 270px; overflow: auto;">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Przypisany pracownik</th>
                            <th>Status</th>
                            <th>Czas</th>
                            {% for role in app.user.roles %}
                                {% if role == "ROLE_ADMIN" %}
                                    <th>Lista</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in project.tasks %}
                            {% if project.status != "ZAKOŃCZONY" %}
                                {% if task.status != "ZAKOŃCZONY" %}
                                    <tr>
                                        <td>{{ task.name }}</td>
                                        <td>{% for user in task.user %}
                                                {{ user.fullName }} <br>
                                            {% endfor %}
                                        </td>
                                        <td>{{ task.status }}</td>
                                        <td>{{ task.time }}</td>
                                        {% for role in app.user.roles %}
                                            {% if role == "ROLE_ADMIN" %}
                                                <td>

                                                    <a class="btn btn-secondary btn-sm"
                                                       href="{{ path('task_edit', {'project': project.id,'task': task.id}) }}">
                                                        <span class="glyphicon glyphicon-list"
                                                              aria-hidden="true"></span>
                                                        Edytuj
                                                    </a>
                                                    <a class="btn btn-danger btn-sm"
                                                       href="{{ path('task_close', {'project': project.id, 'task': task.id}) }}">
                                                        <span class="glyphicon glyphicon-list"
                                                              aria-hidden="true"></span>
                                                        Zamknij zadanie
                                                    </a>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold float-left text-primary">Zakmnięte zadania</h6>
                </div>
                <div class="card-body" style="height: 280px; overflow: auto;">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Przypisany pracownik</th>
                            <th>Status</th>
                            <th>Czas</th>
                            <th>Lista</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in project.tasks %}
                            {% if task.status == "ZAKOŃCZONY" %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{% for user in task.user %}
                                            {{ user.fullName }} <br>
                                        {% endfor %}
                                    </td>
                                    <td>{{ task.status }}</td>
                                    <td>{{ task.time }}</td>
                                    <td>
                                        <a class="btn btn-danger btn-sm"
                                           href="{{ path('task_delete', {'project': project.id,'task': task.id}) }}">
                                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                            Usuń
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}